<!-- JavaScript Libraries -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/static/lib/easing/easing.min.js"></script>
<script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="/static/mail/jqBootstrapValidation.min.js"></script>
<script src="/static/mail/contact.js"></script>


<!-- Template Javascript -->
<script src="/static/js/main.js"></script>


<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.max;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }

    function filterProducts() {
        const filterPrice = $('#myRange').val();
        const end_price = filterPrice.split(',')[0];
        $('#end_price').val(end_price);
        $('#filter_form').submit();
    }

    function addProductToOrder(product_id) {

        const productCount = $('#product-count').val() || 1;

        $.get('/order/add-to-order?product_id=' + product_id + '&count=' + productCount).then(value => {
            Swal.fire({

                text: value.text,
                icon: value.icon,
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: value.confirm_button_text
            }).then((result) => {
                if (result.isConfirmed && value.status === 'not_auth') {
                    window.location.replace('/login');
                }
            });

        });


    }

    function removeOrderDetail(detailId) {
        $.get('/order/Shoppingl?detail_id=' + detailId).then(value => {
            console.log(value)
        });
    }

    function success() {
        var element = document.getElementById("success");
        element.classList.add("alert-success");
        document.getElementById('success').innerHTML = "email has been sent ";
        alert(' chack your mail to activate your account.if you could not find it chack your spams')

    }

    function removeOrderDetail(detailId) {
    $.get('/order/remove-order-detail?detail_id=' + detailId).then(res => {
        if (res.status === 'success') {
            $('#order-detail-content').html(res.body);
        }
    });
}
function changeOrderCount(detailId, state) {
   $.get('/order/change-order-detail?detail_id=' + detailId + '&state=' + state).then(res => {
        if (res.status === 'success') {
            $('#order-detail-content').html(res.body);
        }
    });
}
</script>